[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "elfo"]
	path = elfo
	url = git@gitlab.cs.fau.de:heinloth/elfo.git
[submodule "bean"]
	path = bean
	url = git@gitlab.cs.fau.de:heinloth/bean.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
[submodule "xxhash"]
	path = xxhash
	url = https://github.com/stbrumme/xxhash.git
